<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tacos.js') }}"></script>
    <title>Arjan's First Flask App</title>
</head>

<body>
    <h3>Taco Request Flask App</h3>
    <div id="sample_para_text">
        <script>
                alert("1");
                tacoInfo();
        </script>
    </div>
</body>

</html>